{% extends "base.html" %}

{% block content %}
<h1>Add a Blog Entry</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <form method='post'>
        <label>
            Title for your new post:
            <br>
            <input type="text" name='entry' />
        </label>
        {% if error1 %}
        <p class="error">{{error1}}</p>
        {% endif %}
        <br>
        <br>
        <label>
            Your new post:
            <br>
            <textarea name='body' rows="20", cols="50">
            </textarea>
        </label>
        {% if error2 %}
        <p class="error">{{error2}}</p>
        {% endif %}
        <br>
        <br>
        <input type="submit" value='Add Entry' />
    </form>


{% endblock %}